---
import Layout from '../layouts/Layout.astro';
import { Carousel } from '../components/Carousel';
import { MasonryGrid } from '../components/MasonryGrid';
import { SplitScreen } from '../components/SplitScreen';
import { ImageTile } from '../components/ImageTile';
import { OverlappingLayers } from '../components/OverlappingLayers';
import { Contact } from '../components/Contact';
import { FloatingNav } from '../components/FloatingNav';
---

<Layout title="Eterna Tower Nashville">
  <main class="relative w-screen overflow-x-hidden">
    <section id="home" class="w-screen">
      <Carousel client:load />
    </section>
    
    <section id="amenities">
      <MasonryGrid client:visible />
    </section>
    
    <section id="views" class="w-full">
      <SplitScreen client:visible />
    </section>
    
    <section id="availability">
      <ImageTile client:visible />
    </section>
    
    <section id="residences">
      <OverlappingLayers client:visible />
    </section>
    
    <section id="contact">
      <Contact client:visible />
    </section>

    <FloatingNav client:load />
  </main>
</Layout>