---
import Layout from '../layouts/Layout.astro';
import { Carousel } from '../components/Carousel';
import { MasonryGrid } from '../components/MasonryGrid';
import { SplitScreen } from '../components/SplitScreen';
import { ImageTile } from '../components/ImageTile';
import { OverlappingLayers } from '../components/OverlappingLayers';
import { VideoSection } from '../components/VideoSection';
---

<Layout title="Photography Exposition">
  <main class="relative">
    <Carousel client:load />
    <MasonryGrid client:visible />
    <SplitScreen client:visible />
    <ImageTile client:visible />
    <OverlappingLayers client:visible />
    <VideoSection client:visible />
  </main>
</Layout>